<div
    *ngIf="!($isLoggedIn | async)"
    class="flex justify-content-end bg-gray-900 gap-2"
>
    <p-button
        styleClass="bg-gray-900 hover:bg-gray-800 border-none p-2 gap-2 w-full"
        label="Entre"
        (onClick)="handleSigninEvent()"
    >
        <fa-icon size="sm" [icon]="faSiginIcon"></fa-icon>
    </p-button>

    <p-button
        styleClass="bg-gray-900 hover:bg-gray-800 border-none p-2 gap-2 w-full"
        label="Cadastre-se"
    >
        <fa-icon size="sm" [icon]="faSigupIcon"></fa-icon>
    </p-button>
</div>

<div class="flex justify-content-start align-items-center sidebar-color">
    <div class="flex justify-content-start align-items-center gap-3">
        <p-sidebar
            [(visible)]="sidebarVisible"
            styleClass="sidebar-color text-white-alpha-90"
        >
            <div class="flex flex-column">
                <span class="text-4xl font-bold text-white-alpha-90 p-3"
                    >HomeAds</span
                >
                <div class="mt-2">
                    <p-button
                        styleClass="sidebar-button-color mt-3 text-lg font-bold border-none w-full text-left gap-3"
                        label="Anúncios"
                        routerLink="/ads"
                        routerLinkActive="exact_route"
                    >
                        <fa-icon [icon]="faAdsIcon"></fa-icon>
                    </p-button>
                    <p-button
                        styleClass="sidebar-button-color mt-3 text-lg font-bold border-none w-full text-left gap-3"
                        label="Contato"
                        routerLink="/contact"
                        routerLinkActive="exact_route"
                    >
                        <fa-icon [icon]="faContactIcon"></fa-icon>
                    </p-button>
                    <p-button
                        styleClass="sidebar-button-color mt-3 text-lg font-bold border-none w-full text-left gap-3"
                        label="Sair"
                    >
                        <fa-icon [icon]="faLogoutIcon"></fa-icon>
                    </p-button>
                </div>
            </div>
        </p-sidebar>

        <p-button
            *ngIf="$isLoggedIn | async"
            (onClick)="sidebarVisible = true"
            styleClass="sidebar-button-color border-none gap-3 flex justify-content-center"
        >
            <fa-icon size="xl" [icon]="faSideBarIcon"></fa-icon>
        </p-button>

        <p-button
            styleClass="sidebar-button-color text-xl border-none"
            label="Home"
            routerLink="/home"
            routerLinkActive="exact_route"
        ></p-button>

        <p-button
            styleClass="sidebar-button-color text-xl border-none"
            label="Quem somos"
            routerLink="/about-us"
            routerLinkActive="exact_route"
        ></p-button>
    </div>
</div>
