<router-outlet></router-outlet>

<p-toast
    position="top-center"
    [showTransformOptions]="'translateY(-100%)'"
    [showTransitionOptions]="'800ms'"
    [hideTransitionOptions]="'800ms'"
    styleClass="opacity-100 w-5 mt-3"
    [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>

<p-toast
    [key]="'adsToast'"
    position="bottom-right"
    [showTransformOptions]="'translateX(100%)'"
    [showTransformOptions]="'translateY(-100%)'"
    [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'"
    styleClass="opacity-100 w-4 mt-7"
    [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
