<form
    [formGroup]="newAdForm"
    (ngSubmit)="handleSubmitAddAd()"
    class="flex flex-column align-items-center m-3 gap-3"
>
    <div
        class="card flex flex-column md:flex-column align-content-center w-full m-3 gap-3"
    >
        <input
            pInputText
            placeholder="Título do anúncio"
            formControlName="title"
            style="background-color: whitesmoke"
        />
        <app-form-control-alert
            [form]="newAdForm"
            [controlName]="'title'"
            [minNumberCharacters]="3"
            [maxNumberCharacters]="50"
        ></app-form-control-alert>

        <input
            pInputText
            placeholder="Deixe o seu comentário"
            formControlName="comment"
            style="background-color: whitesmoke"
        />
        <app-form-control-alert
            [form]="newAdForm"
            [controlName]="'comment'"
            [minNumberCharacters]="40"
            [maxNumberCharacters]="1000"
        ></app-form-control-alert>

        <input
            pInputText
            placeholder="Informe o valor do produto adquirido (ex: 3999,99)"
            formControlName="averagePrice"
            style="background-color: whitesmoke"
        />
        <app-form-control-alert
            [form]="newAdForm"
            [controlName]="'averagePrice'"
            [minNumberCharacters]="1"
            [maxNumberCharacters]="15"
        ></app-form-control-alert>

        <p-dropdown
            styleClass="dropdown w-full"
            [options]="categories"
            placeholder="Select a category"
            formControlName="category"
        ></p-dropdown>

        <div class="flex justify-content-start align-content-center gap-3">
            <span class="text-lg font-medium">Atribua uma nota:</span>
            <p-rating
                formControlName="rating"
                [stars]="5"
                [cancel]="false"
            ></p-rating>
        </div>

        <p-fileUpload
            mode="basic"
            name="image"
            accept="image/*"
            [maxFileSize]="1000000"
            (onUpload)="addAdImage($event)"
            [auto]="true"
            styleClass="choose-icon bg-gray-300 hover:bg-gray-400 text-gray-900 text-sm border-round-xs p-2"
            chooseLabel="Escolha a imagem do produto"
        ></p-fileUpload>

        <div
            class="flex flex-row justify-content-center align-content-center align-items-center m-1"
        >
            <p-button
                [disabled]="!newAdForm.valid"
                type="submit"
                label="Concluir"
                styleClass="bg-green-600"
            >
            </p-button>
        </div>
    </div>
</form>
