<app-sidebar-navigation></app-sidebar-navigation>

<div>
    <app-ads-list
        [totalAds]="totalAds"
        [adsPage]="adsPage"
        [$loaded]="$loaded"
        ($onInputChangeEvent)="handleOnInputChangeAction($event)"
        ($onDropdownChangeEvent)="handleOnDropdownChangeAction($event)"
        ($onPageChangeEvent)="handleOnPageChangeAction($event)"
        ($addAdEvent)="handleAddAdAction()"
        ($adViewDetailsEvent)="handleAdViewDetailsAction($event)"
    ></app-ads-list>
</div>
