<div *ngIf="$viewEnable | async">
    <app-sidebar-navigation></app-sidebar-navigation>

    <app-ads-list
        [totalAds]="totalAds"
        [adsPage]="adsPage"
        ($onInputChangeEvent)="handleOnInputChangeAction($event)"
        ($onDropdownChangeEvent)="handleOnDropdownChangeAction($event)"
        ($onPageChangeEvent)="handleOnPageChangeAction($event)"
        ($addAdEvent)="handleAddAdAction()"
    ></app-ads-list>

    <p-confirmDialog [style]="{ width: '25vw' }"></p-confirmDialog>

</div>
