:root {
    --blue-1: #16233b;
    --blue-2: #103878;
    --black-1: rgba(0, 0, 0, .87);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

img, svg {
    filter: brightness(1.0) contrast(1.0) saturate(1.2) grayscale(5%);
    image-rendering: optimizeQuality !important;
}

svg {
    color: white;
}

text, span {
    text-rendering: optimizeLegibility !important;
}

.p-button:focus {
    box-shadow: none;
}

.sidebar-color {
    background-color: var(--blue-1);
}

.sidebar-button-color {
    background-color: var(--blue-1);
    &:hover {
        border-radius: 10px;
        background-color: var(--blue-2);
    }
}
