<small [ngClass]="{
    'show-small': contactForm.get(controlName)?.value?.length ?? 0 > 0 && contactForm.get(controlName)?.value?.length ?? 0 < minNumberCharacters,
    'hide-small': !(contactForm.get(controlName)?.value?.length ?? 0 > 0 && (contactForm.get(controlName)?.value?.length ?? 0) < minNumberCharacters) }"
>
    Entrada muito curta (menos de {{ minNumberCharacters }} caracteres).
</small>
<small [ngClass]="{
    'show-small': contactForm.get(controlName)?.value?.length ?? 0 > maxNumberCharacters,
    'hide-small': !((contactForm.get(controlName)?.value?.length ?? 0) > maxNumberCharacters) }"
>
Entrada muito longa (mais de {{ maxNumberCharacters }} caracteres).
</small>
